<html>

<head>
    <title>Home</title>
    
    <link rel = "stylesheet" type = "text/css" href = "/sword/JoinUs/views/home.css">
</head>



<body style = "background-color: rgb(191,208,250)">

<center><h1 style = "font-size: 48px">Sword Dictionary</h1></center>
<center><img width = "150" src="https://www.coldsteel.com/media/catalog/product/cache/1/thumbnail/480x/17f82f742ffe127f42dca9de82fb58b1/8/8/88wgs.jpg"></center>

<form method="POST" action="/add">
    <p style = "font-size: 18px">Add instances to database</p>
    <input type="text" name="password" placeholder="Enter Password">
    <button>Add</button>
</form>

<form method="POST" action="/delete">
    <p style = "font-size: 18px">Delete instances from database</p>
    <input type="text" name="password" placeholder="Enter Password">
    <button>Delete</button>
</form>

<form method="POST" action="/update">
    <p style = "font-size: 18px">Update instances from database</p>
    <input type="text" name="password" placeholder="Enter Password">
    <button>Update</button>
</form>

<center><h2>There are <strong><%=data%></strong> swords in the database</h2></center>


<form method="POST" action="/all_data">
    <center><p>Display all data in the database</p></center>
    <center><button>Display</button></center>
</form>


<p style = "font-size: 20px">Search for swords in the database by entering key words:</p>

<form method="POST" action="/search_result">
    <input type="text" name="currentlocation" class="form" placeholder="Search by current location" style="width:200px">

    <input type="text" name="typologyid" class="form" placeholder="Search by typology id" style="width:200px">

    <input type="text" name="countryofass" class="form" placeholder="Search by country of assembly" style="width:200px">

    <input type="text" name="scabbard" class="form" placeholder="Search by scabbard" style="width:200px">
    
    <button>Search</button>
</form>


<p style = "font-size: 20px">Search for swords in the database by selecting the desired features:</p>

<form method="POST" action="/adsearch">
    <button>Advanced Search</button>
    
</form>

</body>

</html>